In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("AgrcultureDataset.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     246091 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 13.1+ MB

In [4]:
df.isnull().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [5]:
df.State_Name.unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana ',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [6]:
df.State_Name.nunique()

33

In [7]:
df.State_Name.value_counts()

Uttar Pradesh                  33306
Madhya Pradesh                 22943
Karnataka                      21122
Bihar                          18885
Assam                          14628
Odisha                         13575
Tamil Nadu                     13547
Maharashtra                    12628
Rajasthan                      12514
Chhattisgarh                   10709
Andhra Pradesh                  9628
West Bengal                     9613
Gujarat                         8436
Haryana                         5875
Telangana                       5649
Uttarakhand                     4896
Kerala                          4261
Nagaland                        3906
Punjab                          3173
Meghalaya                       2867
Arunachal Pradesh               2546
Himachal Pradesh                2494
Jammu and Kashmir               1634
Tripura                         1412
Manipur                         1267
Jharkhand                       1266
Mizoram                          957
Puducherry                       876
Sikkim                           714
Dadra and Nagar Haveli           263
Goa                              208
Andaman and Nicobar Islands      203
Chandigarh                        90
Name: State_Name, dtype: int64

In [8]:
df.District_Name.unique()

array(['NICOBARS', 'NORTH AND MIDDLE ANDAMAN', 'SOUTH ANDAMANS',
       'ANANTAPUR', 'CHITTOOR', 'EAST GODAVARI', 'GUNTUR', 'KADAPA',
       'KRISHNA', 'KURNOOL', 'PRAKASAM', 'SPSR NELLORE', 'SRIKAKULAM',
       'VISAKHAPATANAM', 'VIZIANAGARAM', 'WEST GODAVARI', 'ANJAW',
       'CHANGLANG', 'DIBANG VALLEY', 'EAST KAMENG', 'EAST SIANG',
       'KURUNG KUMEY', 'LOHIT', 'LONGDING', 'LOWER DIBANG VALLEY',
       'LOWER SUBANSIRI', 'NAMSAI', 'PAPUM PARE', 'TAWANG', 'TIRAP',
       'UPPER SIANG', 'UPPER SUBANSIRI', 'WEST KAMENG', 'WEST SIANG',
       'BAKSA', 'BARPETA', 'BONGAIGAON', 'CACHAR', 'CHIRANG', 'DARRANG',
       'DHEMAJI', 'DHUBRI', 'DIBRUGARH', 'DIMA HASAO', 'GOALPARA',
       'GOLAGHAT', 'HAILAKANDI', 'JORHAT', 'KAMRUP', 'KAMRUP METRO',
       'KARBI ANGLONG', 'KARIMGANJ', 'KOKRAJHAR', 'LAKHIMPUR', 'MARIGAON',
       'NAGAON', 'NALBARI', 'SIVASAGAR', 'SONITPUR', 'TINSUKIA',
       'UDALGURI', 'ARARIA', 'ARWAL', 'AURANGABAD', 'BANKA', 'BEGUSARAI',
       'BHAGALPUR', 'BHOJPUR', 'BUXAR', 'DARBHANGA', 'GAYA', 'GOPALGANJ',
       'JAMUI', 'JEHANABAD', 'KAIMUR (BHABUA)', 'KATIHAR', 'KHAGARIA',
       'KISHANGANJ', 'LAKHISARAI', 'MADHEPURA', 'MADHUBANI', 'MUNGER',
       'MUZAFFARPUR', 'NALANDA', 'NAWADA', 'PASHCHIM CHAMPARAN', 'PATNA',
       'PURBI CHAMPARAN', 'PURNIA', 'ROHTAS', 'SAHARSA', 'SAMASTIPUR',
       'SARAN', 'SHEIKHPURA', 'SHEOHAR', 'SITAMARHI', 'SIWAN', 'SUPAUL',
       'VAISHALI', 'CHANDIGARH', 'BALOD', 'BALODA BAZAR', 'BALRAMPUR',
       'BASTAR', 'BEMETARA', 'BIJAPUR', 'BILASPUR', 'DANTEWADA',
       'DHAMTARI', 'DURG', 'GARIYABAND', 'JANJGIR-CHAMPA', 'JASHPUR',
       'KABIRDHAM', 'KANKER', 'KONDAGAON', 'KORBA', 'KOREA', 'MAHASAMUND',
       'MUNGELI', 'NARAYANPUR', 'RAIGARH', 'RAIPUR', 'RAJNANDGAON',
       'SUKMA', 'SURAJPUR', 'SURGUJA', 'DADRA AND NAGAR HAVELI',
       'NORTH GOA', 'SOUTH GOA', 'AHMADABAD', 'AMRELI', 'ANAND',
       'BANAS KANTHA', 'BHARUCH', 'BHAVNAGAR', 'DANG', 'DOHAD',
       'GANDHINAGAR', 'JAMNAGAR', 'JUNAGADH', 'KACHCHH', 'KHEDA',
       'MAHESANA', 'NARMADA', 'NAVSARI', 'PANCH MAHALS', 'PATAN',
       'PORBANDAR', 'RAJKOT', 'SABAR KANTHA', 'SURAT', 'SURENDRANAGAR',
       'TAPI', 'VADODARA', 'VALSAD', 'AMBALA', 'BHIWANI', 'FARIDABAD',
       'FATEHABAD', 'GURGAON', 'HISAR', 'JHAJJAR', 'JIND', 'KAITHAL',
       'KARNAL', 'KURUKSHETRA', 'MAHENDRAGARH', 'MEWAT', 'PALWAL',
       'PANCHKULA', 'PANIPAT', 'REWARI', 'ROHTAK', 'SIRSA', 'SONIPAT',
       'YAMUNANAGAR', 'CHAMBA', 'HAMIRPUR', 'KANGRA', 'KINNAUR', 'KULLU',
       'LAHUL AND SPITI', 'MANDI', 'SHIMLA', 'SIRMAUR', 'SOLAN', 'UNA',
       'ANANTNAG', 'BADGAM', 'BANDIPORA', 'BARAMULLA', 'DODA',
       'GANDERBAL', 'JAMMU', 'KARGIL', 'KATHUA', 'KISHTWAR', 'KULGAM',
       'KUPWARA', 'LEH LADAKH', 'POONCH', 'PULWAMA', 'RAJAURI', 'RAMBAN',
       'REASI', 'SAMBA', 'SHOPIAN', 'SRINAGAR', 'UDHAMPUR', 'BOKARO',
       'CHATRA', 'DEOGHAR', 'DHANBAD', 'DUMKA', 'EAST SINGHBUM', 'GARHWA',
       'GIRIDIH', 'GODDA', 'GUMLA', 'HAZARIBAGH', 'JAMTARA', 'KHUNTI',
       'KODERMA', 'LATEHAR', 'LOHARDAGA', 'PAKUR', 'PALAMU', 'RAMGARH',
       'RANCHI', 'SAHEBGANJ', 'SARAIKELA KHARSAWAN', 'SIMDEGA',
       'WEST SINGHBHUM', 'BAGALKOT', 'BANGALORE RURAL', 'BELGAUM',
       'BELLARY', 'BENGALURU URBAN', 'BIDAR', 'CHAMARAJANAGAR',
       'CHIKBALLAPUR', 'CHIKMAGALUR', 'CHITRADURGA', 'DAKSHIN KANNAD',
       'DAVANGERE', 'DHARWAD', 'GADAG', 'GULBARGA', 'HASSAN', 'HAVERI',
       'KODAGU', 'KOLAR', 'KOPPAL', 'MANDYA', 'MYSORE', 'RAICHUR',
       'RAMANAGARA', 'SHIMOGA', 'TUMKUR', 'UDUPI', 'UTTAR KANNAD',
       'YADGIR', 'ALAPPUZHA', 'ERNAKULAM', 'IDUKKI', 'KANNUR',
       'KASARAGOD', 'KOLLAM', 'KOTTAYAM', 'KOZHIKODE', 'MALAPPURAM',
       'PALAKKAD', 'PATHANAMTHITTA', 'THIRUVANANTHAPURAM', 'THRISSUR',
       'WAYANAD', 'AGAR MALWA', 'ALIRAJPUR', 'ANUPPUR', 'ASHOKNAGAR',
       'BALAGHAT', 'BARWANI', 'BETUL', 'BHIND', 'BHOPAL', 'BURHANPUR',
       'CHHATARPUR', 'CHHINDWARA', 'DAMOH', 'DATIA', 'DEWAS', 'DHAR',
       'DINDORI', 'GUNA', 'GWALIOR', 'HARDA', 'HOSHANGABAD', 'INDORE',
       'JABALPUR', 'JHABUA', 'KATNI', 'KHANDWA', 'KHARGONE', 'MANDLA',
       'MANDSAUR', 'MORENA', 'NARSINGHPUR', 'NEEMUCH', 'PANNA', 'RAISEN',
       'RAJGARH', 'RATLAM', 'REWA', 'SAGAR', 'SATNA', 'SEHORE', 'SEONI',
       'SHAHDOL', 'SHAJAPUR', 'SHEOPUR', 'SHIVPURI', 'SIDHI', 'SINGRAULI',
       'TIKAMGARH', 'UJJAIN', 'UMARIA', 'VIDISHA', 'AHMEDNAGAR', 'AKOLA',
       'AMRAVATI', 'BEED', 'BHANDARA', 'BULDHANA', 'CHANDRAPUR', 'DHULE',
       'GADCHIROLI', 'GONDIA', 'HINGOLI', 'JALGAON', 'JALNA', 'KOLHAPUR',
       'LATUR', 'MUMBAI', 'NAGPUR', 'NANDED', 'NANDURBAR', 'NASHIK',
       'OSMANABAD', 'PALGHAR', 'PARBHANI', 'PUNE', 'RAIGAD', 'RATNAGIRI',
       'SANGLI', 'SATARA', 'SINDHUDURG', 'SOLAPUR', 'THANE', 'WARDHA',
       'WASHIM', 'YAVATMAL', 'BISHNUPUR', 'CHANDEL', 'CHURACHANDPUR',
       'IMPHAL EAST', 'IMPHAL WEST', 'SENAPATI', 'TAMENGLONG', 'THOUBAL',
       'UKHRUL', 'EAST GARO HILLS', 'EAST JAINTIA HILLS',
       'EAST KHASI HILLS', 'NORTH GARO HILLS', 'RI BHOI',
       'SOUTH GARO HILLS', 'SOUTH WEST GARO HILLS',
       'SOUTH WEST KHASI HILLS', 'WEST GARO HILLS', 'WEST JAINTIA HILLS',
       'WEST KHASI HILLS', 'AIZAWL', 'CHAMPHAI', 'KOLASIB', 'LAWNGTLAI',
       'LUNGLEI', 'MAMIT', 'SAIHA', 'SERCHHIP', 'DIMAPUR', 'KIPHIRE',
       'KOHIMA', 'LONGLENG', 'MOKOKCHUNG', 'MON', 'PEREN', 'PHEK',
       'TUENSANG', 'WOKHA', 'ZUNHEBOTO', 'ANUGUL', 'BALANGIR',
       'BALESHWAR', 'BARGARH', 'BHADRAK', 'BOUDH', 'CUTTACK', 'DEOGARH',
       'DHENKANAL', 'GAJAPATI', 'GANJAM', 'JAGATSINGHAPUR', 'JAJAPUR',
       'JHARSUGUDA', 'KALAHANDI', 'KANDHAMAL', 'KENDRAPARA', 'KENDUJHAR',
       'KHORDHA', 'KORAPUT', 'MALKANGIRI', 'MAYURBHANJ', 'NABARANGPUR',
       'NAYAGARH', 'NUAPADA', 'PURI', 'RAYAGADA', 'SAMBALPUR', 'SONEPUR',
       'SUNDARGARH', 'KARAIKAL', 'MAHE', 'PONDICHERRY', 'YANAM',
       'AMRITSAR', 'BARNALA', 'BATHINDA', 'FARIDKOT', 'FATEHGARH SAHIB',
       'FAZILKA', 'FIROZEPUR', 'GURDASPUR', 'HOSHIARPUR', 'JALANDHAR',
       'KAPURTHALA', 'LUDHIANA', 'MANSA', 'MOGA', 'MUKTSAR', 'NAWANSHAHR',
       'PATHANKOT', 'PATIALA', 'RUPNAGAR', 'S.A.S NAGAR', 'SANGRUR',
       'TARN TARAN', 'AJMER', 'ALWAR', 'BANSWARA', 'BARAN', 'BARMER',
       'BHARATPUR', 'BHILWARA', 'BIKANER', 'BUNDI', 'CHITTORGARH',
       'CHURU', 'DAUSA', 'DHOLPUR', 'DUNGARPUR', 'GANGANAGAR',
       'HANUMANGARH', 'JAIPUR', 'JAISALMER', 'JALORE', 'JHALAWAR',
       'JHUNJHUNU', 'JODHPUR', 'KARAULI', 'KOTA', 'NAGAUR', 'PALI',
       'PRATAPGARH', 'RAJSAMAND', 'SAWAI MADHOPUR', 'SIKAR', 'SIROHI',
       'TONK', 'UDAIPUR', 'EAST DISTRICT', 'NORTH DISTRICT',
       'SOUTH DISTRICT', 'WEST DISTRICT', 'ARIYALUR', 'COIMBATORE',
       'CUDDALORE', 'DHARMAPURI', 'DINDIGUL', 'ERODE', 'KANCHIPURAM',
       'KANNIYAKUMARI', 'KARUR', 'KRISHNAGIRI', 'MADURAI', 'NAGAPATTINAM',
       'NAMAKKAL', 'PERAMBALUR', 'PUDUKKOTTAI', 'RAMANATHAPURAM', 'SALEM',
       'SIVAGANGA', 'THANJAVUR', 'THE NILGIRIS', 'THENI', 'THIRUVALLUR',
       'THIRUVARUR', 'TIRUCHIRAPPALLI', 'TIRUNELVELI', 'TIRUPPUR',
       'TIRUVANNAMALAI', 'TUTICORIN', 'VELLORE', 'VILLUPURAM',
       'VIRUDHUNAGAR', 'ADILABAD', 'HYDERABAD', 'KARIMNAGAR', 'KHAMMAM',
       'MAHBUBNAGAR', 'MEDAK', 'NALGONDA', 'NIZAMABAD', 'RANGAREDDI',
       'WARANGAL', 'DHALAI', 'GOMATI', 'KHOWAI', 'NORTH TRIPURA',
       'SEPAHIJALA', 'SOUTH TRIPURA', 'UNAKOTI', 'WEST TRIPURA', 'AGRA',
       'ALIGARH', 'ALLAHABAD', 'AMBEDKAR NAGAR', 'AMETHI', 'AMROHA',
       'AURAIYA', 'AZAMGARH', 'BAGHPAT', 'BAHRAICH', 'BALLIA', 'BANDA',
       'BARABANKI', 'BAREILLY', 'BASTI', 'BIJNOR', 'BUDAUN',
       'BULANDSHAHR', 'CHANDAULI', 'CHITRAKOOT', 'DEORIA', 'ETAH',
       'ETAWAH', 'FAIZABAD', 'FARRUKHABAD', 'FATEHPUR', 'FIROZABAD',
       'GAUTAM BUDDHA NAGAR', 'GHAZIABAD', 'GHAZIPUR', 'GONDA',
       'GORAKHPUR', 'HAPUR', 'HARDOI', 'HATHRAS', 'JALAUN', 'JAUNPUR',
       'JHANSI', 'KANNAUJ', 'KANPUR DEHAT', 'KANPUR NAGAR', 'KASGANJ',
       'KAUSHAMBI', 'KHERI', 'KUSHI NAGAR', 'LALITPUR', 'LUCKNOW',
       'MAHARAJGANJ', 'MAHOBA', 'MAINPURI', 'MATHURA', 'MAU', 'MEERUT',
       'MIRZAPUR', 'MORADABAD', 'MUZAFFARNAGAR', 'PILIBHIT', 'RAE BARELI',
       'RAMPUR', 'SAHARANPUR', 'SAMBHAL', 'SANT KABEER NAGAR',
       'SANT RAVIDAS NAGAR', 'SHAHJAHANPUR', 'SHAMLI', 'SHRAVASTI',
       'SIDDHARTH NAGAR', 'SITAPUR', 'SONBHADRA', 'SULTANPUR', 'UNNAO',
       'VARANASI', 'ALMORA', 'BAGESHWAR', 'CHAMOLI', 'CHAMPAWAT',
       'DEHRADUN', 'HARIDWAR', 'NAINITAL', 'PAURI GARHWAL', 'PITHORAGARH',
       'RUDRA PRAYAG', 'TEHRI GARHWAL', 'UDAM SINGH NAGAR', 'UTTAR KASHI',
       '24 PARAGANAS NORTH', '24 PARAGANAS SOUTH', 'BANKURA', 'BARDHAMAN',
       'BIRBHUM', 'COOCHBEHAR', 'DARJEELING', 'DINAJPUR DAKSHIN',
       'DINAJPUR UTTAR', 'HOOGHLY', 'HOWRAH', 'JALPAIGURI', 'MALDAH',
       'MEDINIPUR EAST', 'MEDINIPUR WEST', 'MURSHIDABAD', 'NADIA',
       'PURULIA'], dtype=object)

In [9]:
print(df.Crop_Year.nunique())
print(df.Crop_Year.min())
print(df.Crop_Year.max())
print(df.Crop_Year.value_counts())

19
1997
2015
2003    17287
2002    16671
2008    14550
2007    14526
2006    14328
2004    14117
2009    14116
2011    14071
2010    14065
2005    13799
2000    13658
2013    13650
2012    13410
2001    13361
1999    12515
1998    11533
2014    10973
1997     8899
2015      562
Name: Crop_Year, dtype: int64

In [10]:
print(df.Season.nunique())
print(df.Season.unique())
print(df.Season.max())
print(df.Season.value_counts())

6
['Kharif     ' 'Whole Year ' 'Autumn     ' 'Rabi       ' 'Summer     '
 'Winter     ']
Winter
Kharif         95951
Rabi           66987
Whole Year     57305
Summer         14841
Winter          6058
Autumn          4949
Name: Season, dtype: int64

In [11]:
print(df.Crop.nunique())
print(df.Crop.unique())
print(df.Crop.max())
print(df.Crop.value_counts().head(20))

124
['Arecanut' 'Other Kharif pulses' 'Rice' 'Banana' 'Cashewnut' 'Coconut '
 'Dry ginger' 'Sugarcane' 'Sweet potato' 'Tapioca' 'Black pepper'
 'Dry chillies' 'other oilseeds' 'Turmeric' 'Maize' 'Moong(Green Gram)'
 'Urad' 'Arhar/Tur' 'Groundnut' 'Sunflower' 'Bajra' 'Castor seed'
 'Cotton(lint)' 'Horse-gram' 'Jowar' 'Korra' 'Ragi' 'Tobacco' 'Gram'
 'Wheat' 'Masoor' 'Sesamum' 'Linseed' 'Safflower' 'Onion'
 'other misc. pulses' 'Samai' 'Small millets' 'Coriander' 'Potato'
 'Other  Rabi pulses' 'Soyabean' 'Beans & Mutter(Vegetable)' 'Bhindi'
 'Brinjal' 'Citrus Fruit' 'Cucumber' 'Grapes' 'Mango' 'Orange'
 'other fibres' 'Other Fresh Fruits' 'Other Vegetables' 'Papaya'
 'Pome Fruit' 'Tomato' 'Rapeseed &Mustard' 'Mesta' 'Cowpea(Lobia)' 'Lemon'
 'Pome Granet' 'Sapota' 'Cabbage' 'Peas  (vegetable)' 'Niger seed'
 'Bottle Gourd' 'Sannhamp' 'Varagu' 'Garlic' 'Ginger' 'Oilseeds total'
 'Pulses total' 'Jute' 'Peas & beans (Pulses)' 'Blackgram' 'Paddy'
 'Pineapple' 'Barley' 'Khesari' 'Guar seed' 'Moth'
 'Other Cereals & Millets' 'Cond-spcs other' 'Turnip' 'Carrot' 'Redish'
 'Arcanut (Processed)' 'Atcanut (Raw)' 'Cashewnut Processed'
 'Cashewnut Raw' 'Cardamom' 'Rubber' 'Bitter Gourd' 'Drum Stick'
 'Jack Fruit' 'Snak Guard' 'Pump Kin' 'Tea' 'Coffee' 'Cauliflower'
 'Other Citrus Fruit' 'Water Melon' 'Total foodgrain' 'Kapas' 'Colocosia'
 'Lentil' 'Bean' 'Jobster' 'Perilla' 'Rajmash Kholar' 'Ricebean (nagadal)'
 'Ash Gourd' 'Beet Root' 'Lab-Lab' 'Ribed Guard' 'Yam' 'Apple' 'Peach'
 'Pear' 'Plums' 'Litchi' 'Ber' 'Other Dry Fruit' 'Jute & mesta']
other oilseeds
Rice                     15104
Maize                    13947
Moong(Green Gram)        10318
Urad                      9850
Sesamum                   9046
Groundnut                 8834
Sugarcane                 7921
Wheat                     7899
Rapeseed &Mustard         7592
Arhar/Tur                 7578
Gram                      7361
Jowar                     7065
Onion                     7012
Potato                    6931
Dry chillies              6489
Sunflower                 5571
Bajra                     5427
Small millets             4652
Peas & beans (Pulses)     4524
Cotton(lint)              4518
Name: Crop, dtype: int64

In [12]:
df = df[(df['Production'] != "=")]

In [13]:
print(df.head(10))

                    State_Name District_Name  Crop_Year       Season  \
0  Andaman and Nicobar Islands      NICOBARS       2000  Kharif
1  Andaman and Nicobar Islands      NICOBARS       2000  Kharif
2  Andaman and Nicobar Islands      NICOBARS       2000  Kharif
3  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
4  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
5  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
6  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
7  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
8  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
9  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year

                  Crop     Area Production
0             Arecanut   1254.0       2000
1  Other Kharif pulses      2.0          1
2                 Rice    102.0        321
3               Banana    176.0        641
4            Cashewnut    720.0        165
5             Coconut   18168.0   65100000
6           Dry ginger     36.0        100
7            Sugarcane      1.0          2
8         Sweet potato      5.0         15
9              Tapioca     40.0        169

In [14]:
df['production/Area'] = df['Production'].astype('float')/df['Area']

In [15]:
print(df.head(10))

                    State_Name District_Name  Crop_Year       Season  \
0  Andaman and Nicobar Islands      NICOBARS       2000  Kharif
1  Andaman and Nicobar Islands      NICOBARS       2000  Kharif
2  Andaman and Nicobar Islands      NICOBARS       2000  Kharif
3  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
4  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
5  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
6  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
7  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
8  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
9  Andaman and Nicobar Islands      NICOBARS       2000  Whole Year

                  Crop     Area Production  production/Area
0             Arecanut   1254.0       2000         1.594896
1  Other Kharif pulses      2.0          1         0.500000
2                 Rice    102.0        321         3.147059
3               Banana    176.0        641         3.642045
4            Cashewnut    720.0        165         0.229167
5             Coconut   18168.0   65100000      3583.223250
6           Dry ginger     36.0        100         2.777778
7            Sugarcane      1.0          2         2.000000
8         Sweet potato      5.0         15         3.000000
9              Tapioca     40.0        169         4.225000

In [16]:
set(df['Season'])

{'Autumn     ',
 'Kharif     ',
 'Rabi       ',
 'Summer     ',
 'Whole Year ',
 'Winter     '}

In [17]:
 set(df['State_Name'])

{'Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir ',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana ',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal'}

In [18]:
df.head

<bound method NDFrame.head of                          State_Name District_Name  Crop_Year       Season  \
0       Andaman and Nicobar Islands      NICOBARS       2000  Kharif
1       Andaman and Nicobar Islands      NICOBARS       2000  Kharif
2       Andaman and Nicobar Islands      NICOBARS       2000  Kharif
3       Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
4       Andaman and Nicobar Islands      NICOBARS       2000  Whole Year
...                             ...           ...        ...          ...
246086                  West Bengal       PURULIA       2014  Summer
246087                  West Bengal       PURULIA       2014  Summer
246088                  West Bengal       PURULIA       2014  Whole Year
246089                  West Bengal       PURULIA       2014  Winter
246090                  West Bengal       PURULIA       2014  Winter

                       Crop      Area Production  production/Area
0                  Arecanut    1254.0       2000         1.594896
1       Other Kharif pulses       2.0          1         0.500000
2                      Rice     102.0        321         3.147059
3                    Banana     176.0        641         3.642045
4                 Cashewnut     720.0        165         0.229167
...                     ...       ...        ...              ...
246086                 Rice     306.0        801         2.617647
246087              Sesamum     627.0        463         0.738437
246088            Sugarcane     324.0      16250        50.154321
246089                 Rice  279151.0     597899         2.141848
246090              Sesamum     175.0         88         0.502857

[242364 rows x 8 columns]>

In [19]:
df = df[df['Crop_Year']==2010]

In [20]:
df.groupby('State_Name').sum()

                             Crop_Year         Area  production/Area
State_Name
Andaman and Nicobar Islands     102510     41697.92     11639.781744
Andhra Pradesh                  994950   7505646.00      3022.007504
Arunachal Pradesh               279390    239120.00       568.953437
Assam                          1804980   3430779.00    231320.168959
Bihar                          1800960   6704016.00      3491.301515
Chandigarh                       10050       657.00        50.541667
Chhattisgarh                   1266300   5551366.00      1247.759380
Dadra and Nagar Haveli           38190     20400.00       100.403165
Goa                              30150     58118.00       120.711125
Gujarat                        1354740  11282100.00      3462.414702
Haryana                         486420   5806770.00      1193.010907
Himachal Pradesh                492450    827565.00       638.213143
Jharkhand                       295470    116429.00       377.929012
Karnataka                      2791890  12188863.00      7063.199219
Kerala                          337680   1442317.86     92397.960472
Madhya Pradesh                 3085350  21288435.00      4748.208930
Maharashtra                    1193940  21088000.00      2498.115826
Meghalaya                       343710    227361.00       450.868481
Nagaland                        570840    351930.00      1242.429836
Odisha                         1240170   5065731.00      2547.400493
Puducherry                      132660     28160.00     46731.719495
Punjab                          311550   7050300.00       363.600927
Rajasthan                      1774830  24808185.00      3179.556053
Sikkim                           80400     79150.00        63.095120
Tamil Nadu                      723600   3615252.00      3780.316638
Telangana                       649230   5530370.00      1666.369785
Tripura                         168840    283005.00       341.992793
Uttar Pradesh                  3728550  23629294.00      9507.384660
Uttarakhand                     625110   1093899.00       979.085356
West Bengal                    1009020   7246875.00      2656.421028

In [21]:
df.groupby('State_Name').count()

,District_Name,Crop_Year,Season,Crop,Area,Production,production/Area
State_Name,,,,,,,
Andaman and Nicobar Islands,51,51,51,51,51,51,51
Andhra Pradesh,495,495,495,495,495,495,495
Arunachal Pradesh,139,139,139,139,139,139,139
Assam,898,898,898,898,898,898,898
Bihar,896,896,896,896,896,896,896
Chandigarh,5,5,5,5,5,5,5
Chhattisgarh,630,630,630,630,630,630,630
Dadra and Nagar Haveli,19,19,19,19,19,19,19
Goa,15,15,15,15,15,15,15
Gujarat,674,674,674,674,674,674,674
Haryana,242,242,242,242,242,242,242
Himachal Pradesh,245,245,245,245,245,245,245
Jharkhand,147,147,147,147,147,147,147
Karnataka,1389,1389,1389,1389,1389,1389,1389
Kerala,168,168,168,168,168,168,168
Madhya Pradesh,1535,1535,1535,1535,1535,1535,1535
Maharashtra,594,594,594,594,594,594,594
Meghalaya,171,171,171,171,171,171,171
Nagaland,284,284,284,284,284,284,284
Odisha,617,617,617,617,617,617,617
Puducherry,66,66,66,66,66,66,66
Punjab,155,155,155,155,155,155,155
Rajasthan,883,883,883,883,883,883,883
Sikkim,40,40,40,40,40,40,40
Tamil Nadu,360,360,360,360,360,360,360
Telangana,323,323,323,323,323,323,323
Tripura,84,84,84,84,84,84,84
Uttar Pradesh,1855,1855,1855,1855,1855,1855,1855
Uttarakhand,311,311,311,311,311,311,311
West Bengal,502,502,502,502,502,502,502

In [22]:
newdf = pd.DataFrame(df.groupby('State_Name').sum())

In [23]:
print(newdf)

                             Crop_Year         Area  production/Area
State_Name
Andaman and Nicobar Islands     102510     41697.92     11639.781744
Andhra Pradesh                  994950   7505646.00      3022.007504
Arunachal Pradesh               279390    239120.00       568.953437
Assam                          1804980   3430779.00    231320.168959
Bihar                          1800960   6704016.00      3491.301515
Chandigarh                       10050       657.00        50.541667
Chhattisgarh                   1266300   5551366.00      1247.759380
Dadra and Nagar Haveli           38190     20400.00       100.403165
Goa                              30150     58118.00       120.711125
Gujarat                        1354740  11282100.00      3462.414702
Haryana                         486420   5806770.00      1193.010907
Himachal Pradesh                492450    827565.00       638.213143
Jharkhand                       295470    116429.00       377.929012
Karnataka                      2791890  12188863.00      7063.199219
Kerala                          337680   1442317.86     92397.960472
Madhya Pradesh                 3085350  21288435.00      4748.208930
Maharashtra                    1193940  21088000.00      2498.115826
Meghalaya                       343710    227361.00       450.868481
Nagaland                        570840    351930.00      1242.429836
Odisha                         1240170   5065731.00      2547.400493
Puducherry                      132660     28160.00     46731.719495
Punjab                          311550   7050300.00       363.600927
Rajasthan                      1774830  24808185.00      3179.556053
Sikkim                           80400     79150.00        63.095120
Tamil Nadu                      723600   3615252.00      3780.316638
Telangana                       649230   5530370.00      1666.369785
Tripura                         168840    283005.00       341.992793
Uttar Pradesh                  3728550  23629294.00      9507.384660
Uttarakhand                     625110   1093899.00       979.085356
West Bengal                    1009020   7246875.00      2656.421028

In [24]:
pd.Series(df.groupby('State_Name').count()['District_Name'].values)

0       51
1      495
2      139
3      898
4      896
5        5
6      630
7       19
8       15
9      674
10     242
11     245
12     147
13    1389
14     168
15    1535
16     594
17     171
18     284
19     617
20      66
21     155
22     883
23      40
24     360
25     323
26      84
27    1855
28     311
29     502
dtype: int64

In [25]:
newdf['count'] = df.groupby('State_Name').count()['District_Name'].values

In [26]:
newdf

                             Crop_Year         Area  production/Area  count
State_Name
Andaman and Nicobar Islands     102510     41697.92     11639.781744     51
Andhra Pradesh                  994950   7505646.00      3022.007504    495
Arunachal Pradesh               279390    239120.00       568.953437    139
Assam                          1804980   3430779.00    231320.168959    898
Bihar                          1800960   6704016.00      3491.301515    896
Chandigarh                       10050       657.00        50.541667      5
Chhattisgarh                   1266300   5551366.00      1247.759380    630
Dadra and Nagar Haveli           38190     20400.00       100.403165     19
Goa                              30150     58118.00       120.711125     15
Gujarat                        1354740  11282100.00      3462.414702    674
Haryana                         486420   5806770.00      1193.010907    242
Himachal Pradesh                492450    827565.00       638.213143    245
Jharkhand                       295470    116429.00       377.929012    147
Karnataka                      2791890  12188863.00      7063.199219   1389
Kerala                          337680   1442317.86     92397.960472    168
Madhya Pradesh                 3085350  21288435.00      4748.208930   1535
Maharashtra                    1193940  21088000.00      2498.115826    594
Meghalaya                       343710    227361.00       450.868481    171
Nagaland                        570840    351930.00      1242.429836    284
Odisha                         1240170   5065731.00      2547.400493    617
Puducherry                      132660     28160.00     46731.719495     66
Punjab                          311550   7050300.00       363.600927    155
Rajasthan                      1774830  24808185.00      3179.556053    883
Sikkim                           80400     79150.00        63.095120     40
Tamil Nadu                      723600   3615252.00      3780.316638    360
Telangana                       649230   5530370.00      1666.369785    323
Tripura                         168840    283005.00       341.992793     84
Uttar Pradesh                  3728550  23629294.00      9507.384660   1855
Uttarakhand                     625110   1093899.00       979.085356    311
West Bengal                    1009020   7246875.00      2656.421028    502

In [27]:
newdf['production/Area-count'] = newdf['production/Area']/newdf['count']

In [28]:
newdf

,Crop_Year,Area,production/Area,count,production/Area-count
State_Name,,,,,
Andaman and Nicobar Islands,102510,41697.92,11639.781744,51,228.231015
Andhra Pradesh,994950,7505646.00,3022.007504,495,6.105066
Arunachal Pradesh,279390,239120.00,568.953437,139,4.093190
Assam,1804980,3430779.00,231320.168959,898,257.594843
Bihar,1800960,6704016.00,3491.301515,896,3.896542
Chandigarh,10050,657.00,50.541667,5,10.108333
Chhattisgarh,1266300,5551366.00,1247.759380,630,1.980570
Dadra and Nagar Haveli,38190,20400.00,100.403165,19,5.284377
Goa,30150,58118.00,120.711125,15,8.047408
Gujarat,1354740,11282100.00,3462.414702,674,5.137114
Haryana,486420,5806770.00,1193.010907,242,4.929797
Himachal Pradesh,492450,827565.00,638.213143,245,2.604952
Jharkhand,295470,116429.00,377.929012,147,2.570946
Karnataka,2791890,12188863.00,7063.199219,1389,5.085097
Kerala,337680,1442317.86,92397.960472,168,549.987860
Madhya Pradesh,3085350,21288435.00,4748.208930,1535,3.093296
Maharashtra,1193940,21088000.00,2498.115826,594,4.205582
Meghalaya,343710,227361.00,450.868481,171,2.636658
Nagaland,570840,351930.00,1242.429836,284,4.374753
Odisha,1240170,5065731.00,2547.400493,617,4.128688
Puducherry,132660,28160.00,46731.719495,66,708.056356
Punjab,311550,7050300.00,363.600927,155,2.345812
Rajasthan,1774830,24808185.00,3179.556053,883,3.600856
Sikkim,80400,79150.00,63.095120,40,1.577378
Tamil Nadu,723600,3615252.00,3780.316638,360,10.500880
Telangana,649230,5530370.00,1666.369785,323,5.159040
Tripura,168840,283005.00,341.992793,84,4.071343
Uttar Pradesh,3728550,23629294.00,9507.384660,1855,5.125275
Uttarakhand,625110,1093899.00,979.085356,311,3.148184
West Bengal,1009020,7246875.00,2656.421028,502,5.291675